<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='index/styles.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <header>
        This is not a real online service! You know you need something like this in your life to help you
        realise your deepest dreams. Sign up now to get started.
    </header>
    <p> You know you want to .</p>

    <main>
        <form action="/submissions"method="post" >
            <ul>
                <div>
                    <li>{{form.first_name.label}}</li>
                    <li>{{form.first_name(class_='field')}}</li>
                </div>

                <div>
                    <li>{{form.last_name.label}}</li>
                    <li>{{form.last_name(class_='field')}}</li>
                </div>
                
               <div>
                <li>{{form.password.label}}</li>
                <li>{{form.password(class_='field')}}</li>
               </div>
               
               <div>
                <li>{{form.email.label}}</li>
                <li>{{form.email(class_ = 'email field',placeholder='you@email.com')}}</li>
               </div>

               <div>
                <li>{{form.phone_number.label}}</li>
                <li>{{form.phone_number(class_='field',placeholder='xxx-xxx-xxxx')}}</li>
               </div>
              
               <div>
                <li>{{form.confirm.label}}</li>
                <li >{{form.confirm}}</li>
               </div>
                {% for error in form.confirm.errors %} 
                <ul>
                    <li style="color:red;">{{ error }}</li>
                </ul>
                {% endfor %}
            </ul>
            <input type="submit" value="submit">
        </form>
    </main>
    <footer> Already have an account?
        <nav>
            <a href="#">Sign in </a>
        </nav>
    </footer>

  
      
       
  
   
</body>

</html>