<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <header>This is an online form . Not a real service
        but also not dangerous to apply!! Go on and give a try. Meet your soulmate here!!
    </header>
    <form action="/submissions"method="post" >
        <ul>
            <!--using the .hidden tag and if condition 
                ensures that fields like the csrf token do not have their
            labels shown -->
            {{form.hidden_tag()}}
            {% for field in form if field.widget.input_type != 'hidden'%} 
            {{field.label}}
            <li>{{field}}</li>
                {% for error in field.errors %} 
                <li style="color:red;">{{error}}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        <footer>
            Ready when you are to 
            <input type="submit" value="create account">
            <div>Have an Account?<input type="submit" value="log in"></div>
            
        </footer>
       
    </form>
   
</body>

</html>