body {
    display:flex;
    height:auto;
    justify-content: stretch;
}

ul{
    list-style-type: none;
}
.error{
    list-style-type: disc;
}
form > ul {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap:0.8em;
}

header{
    font-size:large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:rgb(196, 187, 187)
}

footer {
    border-radius:50%;
    padding:20px;
    box-shadow: 12px 10px 0.8rem teal;
  }

a:hover{
    color:purple;
    text-decoration:none;
}